<div class="row">
    <div class="col-xs-4">
        <p>
            <div class="alert alert-danger" ng-show="loginError">
                {{ loginError }}
            </div>
        </p>
        <form role="form" ng-submit="loginUser()">
            <div class="form-group">
                <label for="userUsername">Username:</label>
                <input ng-model="user.username" id="userUsername"
                       type="text" class="form-control"
                       placeholder="Enter username"></div>
            <div class="form-group">
                <label for="userPassword">Password:</label>
                <input type="password" ng-model="user.password"
                       class="form-control"
                       id="userPassword" placeholder="Enter Password"><br>
                <button class="btn btn-default" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
</div>
